@font-face {
    font-family: 'Poppins-Thin';
    src: url(./Poppins-Thin.eot);
    src: url(./Poppins-Thin.eot?#iefix) format('embedded-opentype'),
      url(./Poppins-Thin.otf) format('otf'),
      url(./Poppins-Thin.svg#Poppins-Thin) format('svg'),
      url(./Poppins-Thin.ttf) format('truetype'),
      url(./Poppins-Thin.woff) format('woff'),
      url(./Poppins-Thin.woff2) format('woff2');
    font-weight: normal;
    font-style: normal;
  }
   
  @font-face {
    font-family: 'Poppins-Regular';
    src: url(./Poppins-Regular.eot);
    src: url(./Poppins-Regular.eot?#iefix) format('embedded-opentype'),
      url(./Poppins-Regular.otf) format('otf'),
      url(./Poppins-Regular.svg#Poppins-Regular) format('svg'),
      url(./Poppins-Regular.ttf) format('truetype'),
      url(./Poppins-Regular.woff) format('woff'),
      url(./Poppins-Regular.woff2) format('woff2');
    font-weight: normal;
    font-style: normal;
  }
   
  @font-face {
    font-family: 'Poppins-Medium';
    src: url(./Poppins-Medium.eot);
    src: url(./Poppins-Medium.eot?#iefix) format('embedded-opentype'),
      url(./Poppins-Medium.otf) format('otf'),
      url(./Poppins-Medium.svg#Poppins-Medium) format('svg'),
      url(./Poppins-Medium.ttf) format('truetype'),
      url(./Poppins-Medium.woff) format('woff'),
      url(./Poppins-Medium.woff2) format('woff2');
    font-weight: normal;
    font-style: normal;
  }
   
  @font-face {
    font-family: 'Poppins-SemiBold';
    src: url(./Poppins-SemiBold.eot);
    src: url(./Poppins-SemiBold.eot?#iefix) format('embedded-opentype'),
      url(./Poppins-SemiBold.otf) format('otf'),
      url(./Poppins-SemiBold.svg#Poppins-SemiBold) format('svg'),
      url(./Poppins-SemiBold.ttf) format('truetype'),
      url(./Poppins-SemiBold.woff) format('woff'),
      url(./Poppins-SemiBold.woff2) format('woff2');
    font-weight: normal;
    font-style: normal;
  }
   
  @font-face {
    font-family: 'Poppins-Bold';
    src: url(./Poppins-Bold.eot);
    src: url(./Poppins-Bold.eot?#iefix) format('embedded-opentype'),
      url(./Poppins-Bold.otf) format('otf'),
      url(./Poppins-Bold.svg#Poppins-Bold) format('svg'),
      url(./Poppins-Bold.ttf) format('truetype'),
      url(./Poppins-Bold.woff) format('woff'),
      url(./Poppins-Bold.woff2) format('woff2');
    font-weight: normal;
    font-style: normal;
  }